* {margin:0; padding:0; box-sizing:border-box;}
html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  background-color: #101010;
  color: white;
  font-family: Arial;
  font-size: min(18px, max(5vw, 13px));
}
.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tarjetas {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}
.tarjeta {
	width: 220px;
	margin: 1rem;

	perspective: 1000px;
	transform-style: preserve-3d;
}

.tarjeta .frontal,
.tarjeta .tracero {
	height: auto;
	min-height: 280px;

	background-size: cover;
	background-position: center;

	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

	color: #fff;
	font-size: 1.5rem;
	text-align: center;

	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.tarjeta .frontal {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
  ), url(C:\Users\Admin\Pictures\w-brand);
  background-color: #66D7D1;
  /* Posicion por defecto */
  transform: rotateY(0deg);
}
.tarjeta .tracero {
	width: 100%;
	
	background-color: #957DAD;
	
	top: 0;
	left: 0;
	position: absolute;
  /* Posicion por defecto */
	transform: rotateY(180deg);
}
/* Velocidad de transicion */
.tarjeta:hover .frontal,
.tarjeta:hover .tracero {transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);}

/* Girar imagen */
.tarjeta:hover .frontal {transform: rotateY(-180deg);}
.tarjeta:hover .tracero {transform: rotateY(0deg);}

.tarjeta #cont-3 {
    display: grid;

	width: 100%;
	position: absolute;
	
	padding: 1px    ;
	box-sizing: border-box;
    
	top: 50%;
	left: 0;
	perspective: inherit;
  /* Posicion de texto central */
	transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.tarjeta .contenido {
	width: 100%;
	position: absolute;
	
	padding: 2rem;
	box-sizing: border-box;
	
	top: 50%;
	left: 0;
	perspective: inherit;
  /* Posicion de texto central */
	transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.frontal .contenido p {
	font-size: 2rem;
	position: relative;
	margin-bottom: .5rem;
}
.frontal .contenido hr {
	width: 75%;
	height: 1px;
	
	background: #C6D4DF;
	
	margin: 0 auto;
	margin-bottom: 1.5rem;
}
.frontal .contenido span {
    width: 90%;
    color: rgba(255, 255, 255, 0.7);
}

.frontal .cont-3 span {
    width: 80%;
    color: rgba(255, 255, 255, 0.7);
}
